<div class="row">
    <div class="col-xs-4">
        <script>

            </script>
        <table align="center" >
            <tr>
                <td *ngFor="let Categories of GetCategoriesList;index as i" >
                        <img [src]="Categories.URL" style="width:450px;height:250px" [routerLink]="['/GetCategories',Categories.ID]"/>
                       
                        <figcaption>{{Categories.name}}</figcaption>
                </td>
            </tr>
        </table>
     </div>
</div>