<div class="row">
        <div class="col-xs-4">
            <table align="center" >
                <tr>
                    <td *ngFor="let Categories of GetCategoriesListById" >
                            <img [src]="Categories.URL" style="width:450px;height:250px" [routerLink]="['/GetImageDetails',Categories.ID]" />
                            <a class="View" routerLinkActive="active" [routerLink]="['/ViewContact',Categories.ID]">ContactDetails</a>
                    </td>
                </tr>
            </table>
         </div>
    </div>