<hr/>
<table cellpadding="0" ng-show="IsVisible" border="1">
    <tr>
        <th>Select</th>
        <th>ImageType</th>
        <th>Resolution</th>
        <th>Dimensions(Pixels)</th>
        <th>Size</th>
        <th>Price</th>
        <th>Discount</th>
        <th>NetPrice</th>
</tr>

<tbody *ngFor="let values of GetImageDetailsId">              
<tr>
    <td><input type="radio" name="radio-group"> </td>
    <td>{{values.ImageType}}
        </td>
        <td>{{values.Resolution}}</td>
        <td>{{values.Dimensions}}</td>
            <td>{{values.Size}}</td>
            <td>{{values.Price}}</td>
            <td>{{values.Discount}}</td>
            <td>{{values.NetPrice}}</td>
    </tr>
</tbody>
</table>     
       

         <!-- <td *ngFor="let details of GetImageDetailsId">
        {{details.Resolution}}
        </td>
        <td *ngFor="let details of GetImageDetailsId">   
        {{details.Dimensions}}
    </td>
    <td *ngFor="let details of GetImageDetailsId">  
        {{details.Size}}
    </td>
    <td *ngFor="let details of GetImageDetailsId">  
        {{details.Price}}
    </td>
    <td *ngFor="let details of GetImageDetailsId">  
        {{details.Discount}}
    </td>
    <td *ngFor="let details of GetImageDetailsId">  
        {{details.NetPrice}}
    </td> --> 

